extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=data.name
    )

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      value=data.email
    )
    lable(for="file_upld") File Upload:
    input(
      type="file",
      name="Upload Photo",
      id="file_upld",
      class="form-control",
      accept="image/x-png,image/jpeg",
      capture
      )
    lable(for="vid_upld") Video Upload:
    input(
      type="file",
      name="Video Photo",
      id="vid_upld",
      class="form-control",
      accept="video/*",
      capture=true
      )
    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )
